<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/styles.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/b772031a0c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
    <title>Books | Elearner Institute</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">

                <img id="mlogo" class="img-fluid" src="/images/logo-5.png" width="300px" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/books">Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/courses">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/notes">Notes</a>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <% if(user){ %>
                        <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       <%= user.name %>
                     </a>
                     <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li> <a class="dropdown-item" href="/profile"><i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp; My Profile</a></li>
                        <li><a class="dropdown-item" href="/customers/orders"><i class="fa fa-first-order" aria-hidden="true"></i></i>&nbsp; Your Orders</a></li>
                        <li><a class="dropdown-item" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; Logout</a></li>
                      
                     </ul>
                   </li>
                   <% } else {%>
                   <li class="nav-item">
                     <a class="nav-link" href="/login">Login</a>
                   </li>
                   <% } %>
                    <li class="nav-item">
                        <a class="nav-link cart" href="/cart"><span id="cartCounter" style="color:gold ;margin-right: 4px;"><%=session.cart ? session.cart.totalQty :'' %></span><i class="fas fa-shopping-cart"></i></a>
                    </li>
                </ul>

            </div>
            <form class="d-flex" method="GET" action="/search">
                <input class="form-control me-2" type="search" name="name" placeholder="Search" aria-label="Search">
                <button class="btn btn-sm btn-primary" type="submit">Search</button>
            </form>
        </div>
    </nav>

   
 
    <div class="container">
        <div class="row p-details">
            <div class="col-sm p-slider">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/books/<%= data.image %>" class="d-block w-100" alt="...">
                        </div>
                      
                       
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <div class="small-img-row">
                    <div class="small-img-col">
                        <img class="img-fluid small-img" src="/books/<%= data.image %>" alt="">
                    </div>
                   


                </div>

            </div>
            <div class="col-sm">
                <h2 class="product-details"><%= data.name %> | 8th Edition</h2>
                <h4>
                    ₹ <%= data.price %>.00
                </h4>

                <table>
                    <tr>
                        <td> <strong> Print length</strong></td>
                        <td>700 pages</td>
                    </tr>
                    <tr>
                        <td> <strong> Language</strong></td>
                        <td>English</td>
                    </tr>
                    <tr>
                        <td> <strong>Publisher</strong></td>
                        <td>McGraw Hill
                        </td>
                    </tr>
                    <tr>
                        <td> <strong> Publication date</strong></td>
                        <td>24 September 2020</td>
                    </tr>
                    <tr>
                        <td> <strong> Dimensions</strong></td>
                        <td>20 x 14 x 4 cm
                        </td>
                    </tr>
                    <tr>
                        <td> <strong>Item Weight</strong></td>
                        <td>1 kg 70 g</td>
                    </tr>
                </table>
                <br>
                <div class="addcart">
                    <button data-books="<%=JSON.stringify(data) %>" class="butttoncart">Add to Cart</button>
                </div>
                <p> <br>
                    <b> About this item </b>
                </p>
           
<p style="text-align: justify;">Object-oriented programming with C++, 8th edition is here with some valuable updates. The new edition helps students to assess their learning by answering questions based on learning outcomes. Objective-type questions and dry-run questions are introduced to make students exam ready. A new appendix on interview questions is for those seeking to join the industry. The book is designed for students studying at the undergraduate level. It provides all-inclusive concepts and programs on object-oriented programming with C++ as an implementation language</p><br>
<ul>
    <li><b>Highlights:</b></li>
    <li>150+ multi-choice questions</li>
    <li>100+ dry-run exercises</li>
    <li>90+ interview questions</li>
    <li>Two new projects</li>
    <li>New appendix on implementation of abstract data types</li>
    <li>classification of review questions on OBE (outcome-based education) learning pattern</li>
</ul>
                <a class="readmore" href="#readmore">Read More</a>
                <br> 
            </div>

        </div>
    </div>



    <div class="container my-5">
        <div class="row">
            <div class="col-sm">
                <h2 class="text-center">Similar Books</h2>
            </div>
        </div>
    </div>

    
    <div class="container">
        <div class="row fproduct">
            <div class="col-sm text-center">
                <a href="/Operating Systems - A Concept - Based Approach First Edition">
                    <img class="img-fluid" src="/books/operating-system.jpg" alt="">
                </a>
                <h4>
                    <a href="/Operating Systems - A Concept - Based Approach First Edition">
                        Operating Systems: A Concept - Based Approach
                    </a>
                </h4>
                <p>
                    ₹ 405 Piece
                </p>
            </div>
            <div class="col-sm text-center">
                <a href="/Computer Networks | Fifth Edition | By Pearson 5th Edition">
                    <img class="img-fluid" src="/books/networking.jpg" alt="">
                </a>
                <h4>
                    <a href="/Computer Networks | Fifth Edition | By Pearson 5th Edition">
                        Computer Networks | Fifth Edition | By Pearson (5th Edition)
                    </a>
                </h4>
                <p>
                    ₹ 642 
                </p>
            </div>
            <div class="col-sm text-center">
                <a href="/Python: The Complete Reference Paperback">
                    <img class="img-fluid" src="/books/python.png" alt="">
                </a>
                <h4>
                    <a href="/Python: The Complete Reference Paperback">
                        Python: The Complete Reference
                    </a>
                </h4>
                <p>
                    ₹ 620
                </p>
            </div>
            <div class="col-sm text-center">
                <a href="/Data Structures and Algorithms Made Easy">
                    <img class="img-fluid" src="/books/data-stuucture.jpg" alt="">
                </a>
                <h4>
                    <a href="/Data Structures and Algorithms Made Easy">
                        Data Structures and Algorithms Made Easy
                    </a>
                </h4>
                <p>
                    ₹528.34
                </p>
            </div>
            <div class="col-sm text-center">
                <a href="/Fundamentals of Software Engineering Paperback">
                    <img class="img-fluid" src="/books/software-engineering.jpg" alt="">
                </a>
                <h4>
                    <a href="/Fundamentals of Software Engineering Paperback">
                        Fundamentals of Software Engineering
                    </a>
                </h4>
                <p>
                    ₹278 
                </p>
            </div>
            
        </div>
    </div>



   
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h2 class="p-description">
                    Product Details
                </h2>

            </div>

        </div>
    </div>

    <div class="container details" id="readmore">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h3 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Description
                    </button>
                </h3>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>
                            <b>Publisher : McGraw Hill; Eighth edition (24 September 2020); McGraw Hill Education (India) Private Limited, B-4, Sector-63, Dist. Gautam Budh Nagar, Noida – 201 301, UP
                        </p>
                        <p>
                            <b> Language  :</b> English
                        </p>
                        <p>
                            <b>Paperback :</b> 700 pages
                        </p>
                        <p>
                            <b>Authored By :</b>  E Balagurusamy
                        </p>
                        <p>
                            <b>Edition :</b>  (8th Edition) 24 September 2020
                        </p>
                        <p>
                            <b>ISBN-10  :</b>9389949181
                        </p>
                       
                        
                        <p>
                            <b>ISBN-13 :</b> 978-9389949186
                        </p>
                        <p>
                            <b>Item Weight :</b>1 kg 70 g
                        </p>
                        <p>
                            <b>Dimensions :</b> 20 x 14 x 4 cm
                        </p>
                        <p>
                            <b>Country of Origin :</b> India
                        <p>
                            <b>Best Sellers Rank :</b> #2,119 in Books 
                        </p>
                        
                    </div>
                </div>
            </div>


            
        </div>

    </div>



  



    <div class="footer">
        <div class="container rowfooter ">
            <div class="row">
                <div class="col-sm">
                    <img class="img-fluid" src="/images/logo-5.png" width="300px" alt="">
                    <p class="address">
                        <i class="fas fa-map-marker-alt"></i>
                        Address: B-21 Singh Enclave, Prem Nagar-3<br> Kirari Suleman Nagar, New Delhi, 110086
                    </p>
                    <p>
                        <i class="fas fa-phone"></i>
                        Phone: <a href="tel:8470075063">8470075063</a>
                    </p>
                    <p>
                        <i class="fas fa-envelope"></i>
                        Email: <a href="mailto:sanjeetkumar8285125@gmail.com">sanjeetkumar8285125@gmail.com</a>
                    </p>
                </div>
                <div class="col-sm ">
                    <h3>
                        Download Our App
                    </h3>
                    <p>
                        Download App for Android and ios mobile phone
                    </p>
                    <img class="img-fluid applogo" src="/images/play-store.png" alt="">
                    <img class="img-fluid applogo" src="/images/app-store.png" alt="">
                    <p class="appsoon">
                        App Coming Soon
                    </p>
                </div>
                <div class="col-sm" id="menu">
                    <h3>
                        Menu
                    </h3>
                    <p>
                        <a href="/">Home</a> <br>
                        <a href="/about">About Us</a> <br>
                        <a href="/books">Books</a> <br>
                        <a href="/courses">Courses</a> <br>
                        <a href="/notes">Notes</a> <br>
                        <a href="/contact">Contact</a> <br>
                        <a href="/cart">Cart</a> <br>
                    </p>

                </div>
                <div class="col-sm">
                    <!-- <h3>
                        Opening hrs
                    </h3>
                    <p>Monday - Saturday: 09.30am to 06.00pm
                        <br>
                        Sunday: Closed
                    </p> -->
                    <h3>
                        Social Media
                    </h3>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-youtube"></i>
                    <i class="fab fa-instagram-square"></i>
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
            <div class="col-sm copyright">
                <p>
                    Copyright @2021 -Sanjeet Kumar
                </p>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.ripples/0.5.3/jquery.ripples.min.js"></script>

    <script>
        $(".navbar").ripples({
            resolution: 1000,
            perturbance: 0.4,
        });
        $(".footer").ripples({
            resolution: 1000,
            perturbance: 0.4,
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script  src="/javascripts/index.js" type="module"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
</body>

</html>